<h2>マイページ</h2>
<div class="row">
  <div class="col-xs-7">
    <div class="col-sm-2">登録情報</div>
    <div class="col-sm-2"><%= link_to "編集する", edit_endusers_path, class:"btn btn-primary" %></div>
    <div class="col-sm-3"><%= link_to "パスワードを変更する", edit_enduser_enduser_registration_path, class:"btn btn-primary" %></div>

    <table class="table table-bordered">
    	<thead>
    	</thead>
    	<tbody>
    		<tr>
    			<th>氏名</th>
    			<td><%= @endusers.first_name %><%= @endusers.last_name %></td>
    		</tr>
    		<tr>
    			<th>カナ</th>
    			<td><%= @endusers.first_furigana %><%= @endusers.last_furigana %></td>
    		</tr>
    		<tr>
    			<th>郵便番号</th>
    			<td><%= @endusers.postal_code %></td>
    		</tr>
    		<tr>
    			<th>住所</th>
    			<td><%= @endusers.address %></td>
    		</tr>
    		<tr>
    			<th>電話番号</th>
    			<td><%= @endusers.phone_number %></td>
    		</tr>
    		<tr>
    			<th>メールアドレス</th>
    			<td><%= @endusers.email %></td>
    		</tr>
    	</tbody>
    </table>
  </div>
  <div class="col-xs-7">
      <div class="col-sm-2">配送先</div>
      <div class="col-sm-2"><%= link_to "一覧を見る", enduser_shippings_path(@endusers), class:"btn btn-primary" %></div>
  </div>
  <div class="col-xs-7">
    <div class="col-sm-2">注文履歴</div>
    <div class="col-sm-2"><%= link_to "一覧を見る", enduser_order_path(@endusers), class:"btn btn-primary" %></div>
  </div>
</div>
