<div class="row">

  <div class="col-md-10 col-md-offset-1">
    <h2>ショッピングカート</h2>
    
    <div class="text-right">
     <%= link_to "カートを空にする", enduser_cart_items_all_destroy_path, method: :delete, class: "btn btn-danger","data-confirm" => "本当に消しますか？" %>
    </div>
    
     <table class="table table-striped">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <%= form_with model: cart_item, url: enduser_cart_items_path, method: :patch, local: true do |f| %>
            <tr>
              <td>
                <%= attachment_image_tag cart_item.item, :image, :fill, 30, 20, fallback: "no_image.jpg", size: "30x20" %>
                <%= cart_item.item.name %>
              </td>
              <td><%= cart_item.with_tax_price %>円</td>
              <td><%= cart_item.quantity %></td>
              <td><%= cart_item.sub_total_price %>円</td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= link_to "買い物を続ける", enduser_items_path, class: "btn btn-primary" %>
  </div>
  <div class="col-xs-2 col-xs-offset-9 text-right">
  　<table class="table table-hover well">
  　  <thead><tr><th>合計金額</th></tr></thead>
  　  <tbody><tr><td><%= @total_price %></td></tr></tbody>
  　</table>
  </div>
</div>