<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-7">
    <h2>会員の方はこちらからログイン</h2>
    <div class="row">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group col-xs-12">
          <%= f.label :"メールアドレス", class: "col-sm-3 control-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-9 form-control-static" %>
        </div>
        
        <div class="field form-group col-xs-12">
          <%= f.label  :"パスワード", class: "col-sm-3 control-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-9 form-control-static" %>
        </div>
        
        <%= render "endusers/shared/links" %>
      
        <div class="actions">
          <div class="col-xs-3"></div>
          <%= f.submit "ログイン", class:"col-sm-3 btn btn-primary center-block" %>
        </div>
      <% end %>
    </div>
      <h2>登録がお済みでない方</h2>
    <div class="row">
      <div class="field form-group col-xs-12">
        <div class="col-xs-3"></div>
        <div><%= link_to "こちら", new_enduser_enduser_registration_path %>から新規登録を行ってください。</div>
      </div>
    </div>
  </div>
  <div class="col-xs-2"></div>
</div>

