<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-8">
    <h2>パスワードの再設定</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="row">
      <div class="field form-group col-xs-12">
        <%= f.label :ご登録のメールアドレスを入力してください %><br><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-9 form-control-static" %>
      </div>
      <div class="field form-group col-xs-12"></div>
      <div class="field form-group col-xs-12">
        <%= f.submit "メールを送信する", class:"btn btn-success" %>
      </div>
    <% end %>
    </div>
  </div>
</div>