<div class="row" style="width:70%; margin:0 auto;">
  <h2>注文履歴詳細</h2>
  <div class="row">
    <%= link_to hostusers_path do %>
    <h4><b>購入者</b><%= @order.name %></h4>
    <% end %>
    <div class="enduser_show">
      <h4><b>配送先</b>  <%= @order.postal_code %><%= @order.address %><br>
      <%= @order.name %></h4>
    </div>
    <div class="enduser_show">
      <h4><b>支払方法</b><%= @order.method_pay %></h4>
    </div>
    <div class="enduser_show">
      <h4><b>注文ステータス</b>
        <%= form_with url: hostuser_order_path(@order), method: :post, local: true do |f| %>
        <%= f.select :order_status, Order.order_statuses .keys, {} %>
        <%= f.submit "update" %>
        <% end %>
      </h4>

    <table class="table">
      <thead>
       <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>制作ステータス</th>
       </tr>
      </thead>
      <tbody>
        <% @order.order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.item.name %></td>
          <td>¥<%= (order_item.item.price_before_tax*1.1).floor %><br></td>
          <td><%= order_item.quantity %> 個</td>
          <td>¥<%= (order_item.item.price_before_tax*1.1).floor*order_item.quantity %> 円</td>

          <%#= form_with model: @item, url: hostuser_items_path, local: true do |f| %>
          <%#= form_for(order_item, url: hostuser_order_item_path(order_item), method: :patch) do |f| %>
          <td>
          <%#= f.select :produciton_status, OrderItems.produciton_statuses.keys, class: "order_status" %>
			    <%#= f.submit '更新'  ,class: "btn btn-warning" %>
          </td>
          <!--<#% end %>-->


        </tr>
        <% end %>
      </tbody>
  </div>
  <div class="row">
    <%= link_to "編集する", edit_hostuser_path, class: 'btn btn-success' %>
    <%= link_to "注文履歴一覧を見る", hostuser_path, class: 'btn btn-info' %>
  </div>
</div>