<div class="row" style="width:70%; margin:0 auto;">
  <h2>注文履歴詳細</h2>
  <div class="row">
    <%= link_to hostusers_path do %>
    <h4><b>購入者</b><%= @order.name %></h4>
    <% end %>
    <div class="enduser_show">
      <h4><b>配送先</b>  <%= @order.postal_code %><%= @order.address %><br>
      <%= @order.name %></h4>
    </div>
    <div class="enduser_show">
      <h4><b>支払方法</b><%= @order.method_pay %></h4>
    </div>
    <div class="enduser_show">
      <h4><b>注文ステータス</b></h4>
      <%#= form_with model:@order local: true do |f| %>

      <!--<#% end %>-->
    </div>
  </div>
  <div class="row">
    <%= link_to "編集する", edit_hostuser_path, class: 'btn btn-success' %>
    <%= link_to "注文履歴一覧を見る", hostuser_path, class: 'btn btn-info' %>
  </div>
</div>