<div class="row" style="width:70%; margin: 0 auto;">
  <h2>注文情報確認</h2>
  <div class="row">
    <div class="col-xs-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= cart_item.with_tax_price*1.1.round %>円</td>
              <td><%= cart_item.quantity %></td>
              <td><%= cart_item.sub_total_price*1.1.round %>円</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-4">
      <table class="table table-bordered">
        <tr>
          <th>送料</th>
          <td>800</td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td>合計金額(税込)  <%= @total_price %>円</td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td>合計金額(税込)  <%= @total_price + 800 %>円</td>
        </tr>
      </table>
    </div>
  </div>
  <h3>支払い方法</h3>
  <%= @order.method_pay %>
  <h3>お届け先</h3>
  <%= @order.postal_code %>
  <%= @order.address %>
  <%= @order.name %>
  <%= form_with model:@order, url: enduser_orders_path, method: :post , local: true do |f| %>
    <%= f.hidden_field :enduser_id, value: current_enduser_enduser.id %>
    <%= f.hidden_field :postal_code, value: @order.postal_code %>
    <%= f.hidden_field :address, value: @order.address %>
    <%= f.hidden_field :name, value: @order.name %>
    <%= f.hidden_field :method_pay, value: @order.method_pay %>
    <%= f.hidden_field :delivery_fee, value: 800 %>

    <%= f.hidden_field :order_status, value: "入金待ち" %>

    <%= f.submit "購入を確定する", class: 'btn btn-info' %>
  <% end %>

</div>

