<div class="row">
  <%= render 'enduser/genres/genre_search', genres: @genres %>
  <div class="col-xs-10">
    <h2><%= @genre.name %>一覧(全<%= @genre.items.count%>件)</h2>
    <% @genre.items.each do |item| %>
      <% if item.sales_status == "販売中" %>
        <div class="col-md-3">
　　　　　<%= attachment_image_tag item, :image, :fill, 150, 100, fallback: "no_image.jpg", size: "150x100" %><br />
          <%= link_to item.name, enduser_item_path(item) %><br />
          ¥<%= item.price_before_tax.to_s(:delimited) %>円<br />
        </div>
      <% end %>
    <% end %>
  </div>
</div>
