<div class="row">
  <h2>商品編集</h2>

   <%= form_with model: @item, url: hostuser_item_path, method: :patch, local: true do |f| %>

    <!--エラー文-->
    <% if @item.errors.any? %>
     <div class=“error_explanation”>
     <h5 class="text-danger"><%= @item.errors.count %>件のerrorが発生しました。</h5>
     <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li class="text-danger">●<%= message %></li>
      <% end %>
        </ul>
      </div>
    <% end %>
    <!--エラー文終わり-->

  　<div class="col-xs-4">
      <div class="field">
        <%= attachment_image_tag @item, :image, fallback: 'no_image.jpg', onChange: "$('.img_field').()", class: 'center-block img_prev'%>
        <%= f.attachment_field :image, class: 'img_field' %>
      </div>
 　  </div>
    <div class="col-xs-4">
      <div class="field">
        <%= f.label :商品名 %>
        <%= f.text_field :name, class: "name" %>
      </div>
      <div class="field">
        <%= f.label :商品説明 %>
        <%= f.text_field :details, class: "details" %>
      </div>
      <div class="field">
        <%= f.label :ジャンル %>
        <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --",) %>
      </div>
      <div class="field">
        <%= f.label :税抜価格 %>
        <%= f.text_field :price_before_tax, class: "price_before_tax" %>円
      </div>
      <div class="field">
        <%= f.label :販売ステータス %>
        <%= f.select :sales_status, Item.sales_statuses .keys, {} , class: "sales_status btn btn-warning dropdown-toggle" %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="actions">
        <%= f.submit "変更を保存", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  </div>
</div>