<div class="row">
  <%= render 'enduser/genres/genre_search', genres: @genres %>

  <!--<h2>顧客側の商品詳細</h2>-->
  　<div class="col-xs-5 item-show-image">
  　  <!--<label>商品画像</label>-->
　　　<%= attachment_image_tag @item, :image, :fill, 350, 250, fallback: "no_image.jpg", size: "350x250", class:"image-show" %>
　　</div>
    <div class="col-xs-5 item-details">
      <h2 class="col-sm-12 item name">
        <!--<label>商品名</label>-->
        <%= @item.name %>
      </h2>
      <div class="col-sm-12 item details">
        <!--<label>商品説明</label>-->
        <h5 class="details-show"><%= @item.details %></h5>
      </div>
      <h4 class="col-sm-12 item price_before_tax">
        <!--<label>税込価格</label>-->
        ¥<%= (@item.price_before_tax*1.1).floor %>　<span class="smal">(税込)</span>
      </h4>
      <div class="col-sm-12 text-right">
        <%= form_with model: @cart_item, url: enduser_cart_items_path, local: true do |f| %>
           <%= f.hidden_field :item_id, value: @item.id %>
        　 <%= f.select :quantity, (1..50) %>　個　　　
           <%= f.submit "カートに入れる", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
</div>

